doctype html
html
    head
        title Song List
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.css")
        script.
            const userId = '#{userId}';
            function toggleFavoriteLogo(element, songId) {
                console.log(songId, userId);
                const isFavorited = element.classList.contains('fa-solid');
                console.log(isFavorited, songId, userId);
                fetch('/toggleFavorite', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({userId, songId}),
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.message === 'Favorite status updated') {
                            if (isFavorited) {
                                element.classList.remove('fa-solid');
                                element.classList.add('fa-regular');
                            } else {
                                element.classList.remove('fa-regular');
                                element.classList.add('fa-solid');
                            }
                        }
                    })
                    .catch((error) => {
                        console.error('Error:', error);
                    });
            }
    body(style='font-family: Arial, sans-serif; background-color: #f0f0f0; padding: 20px; color: #333;')
        div(style='display: flex; align-items: center;')
            h1 Song List
            div(style='margin-left: auto;')
                button(onclick="location.href='/login'", style="display: inline-block; margin-bottom: 20px; background-color: #007bff; color: white; padding: 10px 15px; border-radius: 5px; text-decoration: none;" ) Log In
                button(onclick="location.href='/signup'", style="display: inline-block; margin-bottom: 20px; background-color: #007bff; color: white; padding: 10px 15px; border-radius: 5px; text-decoration: none;") Sign Up
        a(href='/new', style='display: inline-block; margin-bottom: 20px; background-color: #007bff; color: white; padding: 10px 15px; border-radius: 5px; text-decoration: none;') Add New Song
        ul(style='list-style-type: none; padding: 0;')
            each song in songs
                li(style='margin: 10px 0; padding: 10px; background-color: white; border-radius: 5px; box-shadow: 0 2px 4px rgba(0,0,0,0.1); display: flex; justify-content: space-between; align-items: center;')
                    a(href=`/${song._id}`, style='color: #007bff; text-decoration: none; font-weight: bold;') #{song.title} by #{song.artist}
                    if user.likedSongs.includes(song._id)
                        i(class="fa-solid fa-heart", onclick=`toggleFavoriteLogo(this, "${song._id}")`, style="cursor: pointer;")
                    else
                        i(class="fa-regular fa-heart", onclick=`toggleFavoriteLogo(this, "${song._id}")`, style="cursor: pointer;")